.hero {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  height: 80vh;
  &__image {
    position: relative;
    width: 450px;
    height: 450px;
    & > img {
      object-fit: cover;
      border-radius: 1rem;
      box-shadow: 0 0 4rem rgba(255, 255, 255, 0.2)
    }
  }
  &__content {
    padding: 0 30px;
    text-align: center;
    width: 50%;
    &__title {
      font-size: 4rem;
      font-weight: bold;
      color: $text-color;
    }
    &__text {
      font-size: 2rem;
      color: $text-color;
    }
  }
}